# Created by earthdan
# Edited by djmsuman

# Object Files
*.o

# Application Build and Debug Directories
build/

# Dev-Tool related Swap's
*.sublime-workspace

# IDE or Code Editor Files
*.sublime-project
.vscode
.idea
.nbproject
